@use './variables.scss';

@keyframes slideUp {
    0% {
        transform: translateY(100%);
        opacity: 0;
      }
      50% {
        transform: translateY(10%);
        opacity: 0.5;
        color: variables.$secondary;
      }
      100% {
        transform: translateY(0);
        opacity: 1;
      }
}

.slideUp {
    animation: slideUp 3s ease-in forwards;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
      }
      50% {
        opacity: 0.5;
      }
      100% {
        opacity: 1;
      }
}

.fadeIn {
    animation: fadeIn 5s ease-in forwards;
}

@keyframes slideRight {
  0% {
      transform: translateX(100%);
      opacity: 0;
    }
    50% {
      transform: translateX(10%);
      opacity: 0.5;
    }
    100% {
      transform: translateX(0);
      opacity: 1;
    }
}

.slideRight {
    animation: slideRight 6s ease-in forwards;
}