@import url('https://fonts.googleapis.com/css2?family=Hepta+Slab:wght@1..900&family=Inter:opsz,wght@14..32,100..900&display=swap');

// Colors
$white: #F2F7FF;
$primary: #0B409C;
$secondary: #10316B;
$yellow: #FFCE63;
$whiteSmoke: whitesmoke;
$dark: #171717;

// Fonts
$headingFont: Inter, sans-serif;
$bodyFont: Hepta Slab, serif;

// Font Sizes
$normalSize: 1em;
$headingSize: 3.157em;
$subHeadingSize: 2.369em;
$minSub: 1.777em;
$bigNormalSize: 1.333em;
$smalls:0.75em;

// Breakpoints
$mobileScreens:900px;