@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Hepta+Slab:wght@1..900&family=Inter:opsz,wght@14..32,100..900&display=swap');
$headingFont: Inter, sans-serif;
$bodyFont: Hepta Slab, serif;
$mobileScreens:900px;
$normalSize: 1em;
$headingSize: 3.157em;
$subHeadingSize: 2.369em;
$minSub: 1.777em;
$bigNormalSize: 1.333em;
$smalls:0.75em;
$white: #F2F7FF;
$primary: #0B409C;
$secondary: #10316B;
$yellow: #FFCE63;
$whiteSmoke: whitesmoke;

:root {
  --background: #F2F7FF;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #10316B;
    --foreground: #ededed;
  }
}



html, body {
  margin: 0;
  padding: 0;
  box-sizing: border-box; /* Ensures consistent sizing model */
  height: 100%; /* Useful for setting elements to 100% height */
  font-family: $bodyFont;
  font-optical-sizing: auto;
  scroll-behavior: smooth;
}

main {
  width: 100vw;
  height: 100vh;
  padding: 2em;
  display: grid;
  grid-template-columns: repeat(2, 1fr);

  @media only screen and (max-width: $mobileScreens) {
     display: block;
     width: initial;
     padding: 1em;
  }
}

nav {
  & button {
    display: block;
    margin: 1em 0;
    font-size: $normalSize;
    font-weight: 600;
  }

  @media only screen and (max-width: $mobileScreens) {
    display: none;
 }
}

.info{
  display: grid;
  grid-template-rows: 3fr 1fr;
  align-items: end;
  border-radius: 2em;
  padding: 0 4em;

  & .content {
    margin: 1em 0;

    & p {
      line-height: 1.8em;
      font-size: $normalSize;
      text-align: justify;
    }

  }

  & img {
    display: none;
  }


  @media only screen and (max-width: $mobileScreens) {
    display: block;
    width: initial;
    padding: 0.1em;
    text-align: center;
    font-size: 1em;

    & img {
      display: block;
    }

    & p {
      text-align: left;
    }
 }
}

.showCase{
  overflow: scroll;
  padding: 0 2em;

  & .title {
    border-bottom: 1px solid #0a0a0a;
    margin-top: 4em;
    text-transform: uppercase;
     &:first-child{
      margin-top: 0;
     }
  }

  @media only screen and (max-width: $mobileScreens) {
    padding: 0 0.3em;
  }
}

.pod{
  padding: 1.5em 3em;
  background: whitesmoke;
  margin: 1em 0;
  transition: transform 0.3s ease;

  @media only screen and (max-width: $mobileScreens) {
    background-color: $primary;
    color: white;

    & button {
      color: $yellow;
    }
  }
  
  &:hover{
    background-color: $primary;
    color: white;
    cursor: pointer;
    transform: scale(1.2);

    & button {
      color: $yellow;
    }
  }


  & .content {
    margin: 1em 0;
  }

}

.cert{
  display: grid;
  gap: 2em;
  margin: 2em 0;
  grid-template-columns: repeat(4, 1fr);
}

.brands{
  display: grid;
  gap: 2em;
  margin: 4em 0;
  place-content: center;
  place-items: center;
  grid-template-columns: repeat(3, 1fr);
}

/**
TYPOGRAPHY
**/

h1{
  font-family: $headingFont;
  font-size: $headingSize;
  line-height: 1em;
  font-weight: 900;
  font-optical-sizing: auto;
  color: $primary;
}

h2{
  font-family: $headingFont;
  font-size: $subHeadingSize;
  font-size: 100;
  line-height: 1em;
  color: #171717;
  font-optical-sizing: auto;
}

h3 {
  font-size: $minSub;
  font-family: $bodyFont;
  font-weight: 700;
}

h4 {
  font-size: $bigNormalSize;
  font-family: $headingFont;
  font-weight: 700;
}

h5 {
  font-size: $bigNormalSize;
  font-family: $bodyFont;
}

h6 {
  font-size: $smalls;
  font-family: $bodyFont;
  font-weight: 600;
}

